<form action="<% users_url %>" method="post">
    <label for="user_name">Username:
        <input type="text" name="user[user_name]">
    </label><br>
    <label for="password">Password:
        <input type="password" name="user[password]">
    </label><br>
    <input type="submit" value="Sign Up">
</form>