<h2>Sign In</h2>

<form action= "<%= session_index_url %>" method="post">
    <label for="user_name">Username: 
        <input type="text" name="user[user_name]">
    </label> <br>
    <label for="password">Password: 
        <input type="text" name="user[password]">
    </label> <br>
    <input type="submit" value="Log In">
    <a href="http://localhost:3000/users/new">Sign UP</a>
</form> 
